# Cleaning Global Superstore Dataset Using Python

Link of DataSet : https://www.kaggle.com/datasets/fatihilhan/global-superstore-dataset

Here is a description of the columns in the dataset:

- category: The category of products sold in the superstore.

- city: The city where the order was placed.

- country: The country in which the superstore is located.

- customer_id: A unique identifier for each customer.

- customer_name: The name of the customer who placed the order.

- discount: The discount applied to the order.

- market: The market or region where the superstore operates.

- ji_lu_shu: An unknown or unspecified column.

- order_date: The date when the order was placed.

- order_id: A unique identifier for each order.

- order_priority: The priority level of the order.

- product_id: A unique identifier for each product.

- product_name: The name of the product.

- profit: The profit generated from the order.

- quantity: The quantity of products ordered.

- region: The region where the order was placed.

- row_id: A unique identifier for each row in the dataset.

- sales: The total sales amount for the order.

- segment: The customer segment (e.g., consumer, corporate, or home office).

- ship_date: The date when the order was shipped.

- ship_mode: The shipping mode used for the order.

- shipping_cost: The cost of shipping for the order.

- state: The state or region within the country.

- sub_category: The sub-category of products within the main category.

- year: The year in which the order was placed.

- market2: Another column related to market information.

- weeknum: The week number when the order was placed.

Import Pandas Library & Read the File

In [1]:
import pandas as pd

data = pd.read_csv('Global_superstore.csv')
data.head()

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,2011-09-29 00:00:00.000,CA-2011-146969,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40

Set Index the 'Row.ID' and Replace it with values from 1 to the total number of rows (51290)

In [2]:
data['Row_ID'] = range(1, len(data) + 1)
data.set_index('Row_ID',inplace=True)
data

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
Row_ID,,,,,,,,,,,,,,,,,,,,,
1,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
2,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
5,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,2011-09-29 00:00:00.000,CA-2011-146969,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51286,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,1,2014-12-03 00:00:00.000,CA-2014-109701,...,69,Corporate,2014-12-04 00:00:00.000,Same Day,5.15,California,Binders,2014,North America,49
51287,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,1,2014-12-03 00:00:00.000,CA-2014-109701,...,9,Corporate,2014-12-04 00:00:00.000,Same Day,0.44,California,Binders,2014,North America,49
51288,Office Supplies,Los Angeles,United States,HR-147704,Hallie Redmond,0.2,US,1,2014-12-18 00:00:00.000,CA-2014-106964,...,12,Home Office,2014-12-21 00:00:00.000,First Class,0.31,California,Binders,2014,North America,51
51289,Office Supplies,Los Angeles,United States,RM-196754,Robert Marley,0.2,US,1,2014-12-25 00:00:00.000,CA-2014-145219,...,90,Home Office,2014-12-26 00:00:00.000,First Class,15.95,California,Binders,2014,North America,52
51290,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.2,US,1,2014-12-26 00:00:00.000,CA-2014-121398,...,154,Corporate,2014-12-30 00:00:00.000,Standard Class,9.59,California,Binders,2014,North America,52

### Understanding The dataset

In [3]:
data.columns

Index(['Category', 'City', 'Country', 'Customer.ID', 'Customer.Name',
       'Discount', 'Market', '记录数', 'Order.Date', 'Order.ID', 'Order.Priority',
       'Product.ID', 'Product.Name', 'Profit', 'Quantity', 'Region', 'Row.ID',
       'Sales', 'Segment', 'Ship.Date', 'Ship.Mode', 'Shipping.Cost', 'State',
       'Sub.Category', 'Year', 'Market2', 'weeknum'],
      dtype='object')

In [4]:
data.shape

(51290, 27)

In [5]:
len(data.Country.unique()) # Total numbers of Countries

147

In [6]:
data['Order.Priority'].unique()

array(['High', 'Medium', 'Critical', 'Low'], dtype=object)

In [7]:
data.Market.value_counts()

Market
APAC      11002
LATAM     10294
EU        10000
US         9994
EMEA       5029
Africa     4587
Canada      384
Name: count, dtype: int64

### Checking Missing Values and Duplicates

Missing Values

In [8]:
data.isnull().sum()

Category          0
City              0
Country           0
Customer.ID       0
Customer.Name     0
Discount          0
Market            0
记录数               0
Order.Date        0
Order.ID          0
Order.Priority    0
Product.ID        0
Product.Name      0
Profit            0
Quantity          0
Region            0
Row.ID            0
Sales             0
Segment           0
Ship.Date         0
Ship.Mode         0
Shipping.Cost     0
State             0
Sub.Category      0
Year              0
Market2           0
weeknum           0
dtype: int64

Duplicates

In [9]:
data.duplicated().sum()

np.int64(0)

### Removing unnecessaries Columns

In [10]:
data['记录数'].unique() # the translation is 'Number of records'

array([1])

In [11]:
unnecc_features = ['记录数','Year', 'Market2', 'weeknum','Row.ID']

In [12]:
data.drop(unnecc_features,axis=1,inplace=True)

In [13]:
data.shape

(51290, 22)

### Rename Column names inorder to be acceptable in MYSQL

Replace the dot with underscores

In [14]:
data = data.rename(columns=lambda x: x.replace('.', '_'))

### Change the Data Types to the correct ones

First Check if it is correct or not

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51290 entries, 1 to 51290
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51290 non-null  object
 1   City            51290 non-null  object
 2   Country         51290 non-null  object
 3   Customer_ID     51290 non-null  object
 4   Customer_Name   51290 non-null  object
 5   Discount        51290 non-null  float64
 6   Market          51290 non-null  object
 7   Order_Date      51290 non-null  object
 8   Order_ID        51290 non-null  object
 9   Order_Priority  51290 non-null  object
 10  Product_ID      51290 non-null  object
 11  Product_Name    51290 non-null  object
 12  Profit          51290 non-null  float64
 13  Quantity        51290 non-null  int64
 14  Region          51290 non-null  object
 15  Sales           51290 non-null  int64
 16  Segment         51290 non-null  object
 17  Ship_Date       51290 non-null  object
 18  Ship_Mode       51290 non-null  object
 19  Shipping_Cost   51290 non-null  float64
 20  State           51290 non-null  object
 21  Sub_Category    51290 non-null  object
dtypes: float64(3), int64(2), object(17)
memory usage: 9.0+ MB

'Order_Date' and 'Ship_Date' need to be changed to Date and Time Format

In [16]:
data['Order_Date'] = pd.to_datetime(data['Order_Date'])
data['Ship_Date'] = pd.to_datetime(data['Ship_Date'])

Let's check again their data types

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51290 entries, 1 to 51290
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51290 non-null  object
 1   City            51290 non-null  object
 2   Country         51290 non-null  object
 3   Customer_ID     51290 non-null  object
 4   Customer_Name   51290 non-null  object
 5   Discount        51290 non-null  float64
 6   Market          51290 non-null  object
 7   Order_Date      51290 non-null  datetime64[ns]
 8   Order_ID        51290 non-null  object
 9   Order_Priority  51290 non-null  object
 10  Product_ID      51290 non-null  object
 11  Product_Name    51290 non-null  object
 12  Profit          51290 non-null  float64
 13  Quantity        51290 non-null  int64
 14  Region          51290 non-null  object
 15  Sales           51290 non-null  int64
 16  Segment         51290 non-null  object
 17  Ship_Date       51290 non-null  datetime64[ns]
 18  Ship_Mode       51290 non-null  object
 19  Shipping_Cost   51290 non-null  float64
 20  State           51290 non-null  object
 21  Sub_Category    51290 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(2), object(15)
memory usage: 9.0+ MB

### Export Dataset to CSV

In [18]:
data.to_csv("Cleaned_data.csv")

<h4>Now Everything is Done in Python, We will continue for further cleaning and Refinement on MySQL before proceding to Tableau. <h4>